@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Varela", sans-serif;
  min-height: 100vh;
}

a {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  background-color: transparent;
  padding: 10px;
}

.alert {
  position: relative;
}

#backend {
  padding-top: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

img.logo {
  margin: 0 auto;
  max-height: 100px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

img.project-screenshot {
  height: 400px;
}

img.project1-screenshot {
  height: auto;
  width: 400px;
}

#intro {
  padding-top: 100px;
  align-content: center;
  height: 90vh;
}

.navbar-light .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.navbar {
  position: sticky;
}

#other {
  padding-top: 15px;
}

.section {
  padding-top: 6em;
  margin-top: -6em;
}

.typewriter h5 {
  color: rgba(0, 0, 0, 0.9);
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5 steps(44), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
