@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Varela", sans-serif;
}

a {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  background-color: transparent;
}

.alert {
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

img.logo {
  margin: 0 auto;
  max-height: 100px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

img.project-screenshot {
  height: 500px;
}

#intro {
  padding-top: 100px;
  align-content: center;
  height: 100vh;
}

.navbar-light .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.navbar {
  position: sticky;
}
